.flip{
    &-front{
        display: flex;
        flex-direction: column;
        text-align: center;
        color: #fff;
        padding: 50px 20px;
        height: 100%;
        transition: 0.3s all ease-in-out;
        & h1{
            color: #fff;
            font-size: 30px;
        }
    }
    &-back{
        @extend .flip-front;
        align-items: center;
        color: rgb(46, 44, 44);
        & h1{
            color: rgb(46, 44, 44);
            
        }
    }
}