.newEmployeesSlider {
  width: 90%;
  margin: auto;
  height: 400px;
  margin-top: 30px;
  &__header {
    width: 100%;
    margin-bottom: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 46px;
    font-family: "SFProDisplay Bold";
    text-align: center;
    color: #3f5661;
  }
  &__slider {
    height: 100%;
    width: 100%;
    &__item {
      position: relative;
      height: 277px;
      width: 92% !important;
      margin: auto;
      background: white;
      border-top: 1px solid #c4c4c4;
      border-left: 1px solid #c4c4c4;
      border-right: 1px solid #c4c4c4;
      border-bottom: 4px solid#33abe5;
      border-radius: 8px;
      display: flex !important;
      align-items: center;
      justify-content: center;
      &__ContentInfor {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        width: 100%;
        padding: 23px 15.5px 14px 15.5px;
        &__Avartar {
          height: 64px;
          width: 64px;
          border-radius: 50%;
        }
        &__employeeName {
          width: 100%;
          height: fit-content;
          margin-top: 16px;
          font-family: SFProDisplay;
          font-size: 15px;
          line-height: 24px;
          color: #000;
          text-align: center;
        }
        &__jobtitleEmployee {
          width: 100%;
          height: fit-content;
          left: 0;
          top: 26px;
          font-family: SFProDisplay Regular;
          font-size: 14px;
          line-height: 22px;
          color: #595959;
          text-align: center;
        }
        &__empMail {
          width: 100%;
          height: fit-content;
          position: static;
          margin-top: 16px;
          font-size: 14px;
          text-align: center;
          color:#33abe5;
        }
        &__empPhone {
          margin-top: 2px;
          width: 100%;
          font-size: 14px;
          height: fit-content;
          line-height: 22px;
          text-align: center;
          color:#33abe5;
        }
        &__msTeam {
          cursor: pointer;
          font-family: SFProDisplay Regular;
          border: 1px solid #d9d9d9;
          border-radius: 4px;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 32px;
          width: 100%;
          margin-top: 16px;
          background-color: white;
        }
      }
    }
  }
}
:global {
  .slick-prev {
    right: 0px !important;
    left: unset !important;
    top: -53px !important;
    margin-right: 39px !important;
    height: 24px !important;
    width: 24px !important;
  }
  .slick-next {
    top: -53px !important;
    margin-right: 32px !important;
    height: 24px !important;
    width: 24px !important;
  }
}
@media only screen and (max-width: 1152px) {
  .newEmployeesSlider {
    &__slider {
      &__item {
        &__ContentInfor {
          padding: 23px 15.5px 10px 15.5px;
          &__msTeam {
            margin-top: 4px;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 1024px) {
  :global {
    .slick-prev {
      display: none !important;
    }
    .slick-next {
      display: none !important;
    }
  }
}
@media only screen and (max-width: 768px) {
  .newEmployeesSlider {
    &__slider {
      &__item {
        &__ContentInfor {
          padding: 23px 15.5px 14px 15.5px;
          &__msTeam {
            margin-top: 16px;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 630px) {
  .newEmployeesSlider {
    &__slider {
      &__item {
        &__ContentInfor {
          padding: 23px 15.5px 10px 15.5px;
          &__msTeam {
            margin-top: 4px;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 450px) {
  .newEmployeesSlider {
    &__slider {
      &__item {
        &__ContentInfor {
          padding: 23px 15.5px 14px 15.5px;
          &__msTeam {
            margin-top: 16px;
          }
        }
      }
    }
  }
}
