.HomePageApp {
  width: 100%;
  height: auto;
  &__header {
    height: 75px;
    width: 100%;
    position: fixed;
    z-index: 100;
    background: #33abe5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__left {
      margin-left: 50px;
      height: 100%;
      display: flex;
      align-items: center;
      &__img {
        cursor: pointer;
        height: -webkit-fill-available;
        width: auto;
      }
      &__title {
        margin-left: 20px;
        font-weight: 400;
        font-size: 25px;
        color: white;
      }
      &__topMenu {
        margin-left: 20px;
        display: flex;
        &__item {
          cursor: pointer;
          background-color: #00baff;
          width: fit-content;
          padding: 5px;
          text-underline-position: inherit;
          color: white;
          margin-right: 15px;
          border-radius: 15px;
          &:hover {
            background-color: #33abe5;
          }
        }
      }
    }
    &__right {
      margin-right: 50px;
      height: 100%;
      display: flex;
      align-items: center;

      &__divider {
        border: solid 1px white;
        width: 1px;
        height: 90%;
        margin-right: 35px;
      }

      &__text {
        cursor: pointer;
        font-size: 15px;
        margin-right: 20px;
        color: white;
      }
    }
  }
}
