.themeDetail {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 10px;
  max-height: 400px;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    display: none;
  }

  &__titleIntroduce {
    color: #b10021;
    font-size: 24px;
    font-weight: 600;
    width: 100%;
    height: 50px;
    text-align: center;
    margin: 30px 0px;
  }

  &__item {
    &:hover {
      background-color: #eeeeee;
    }
    display: flex;
    justify-content: space-between;
    padding: 10px;
    &__index {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50px;
      width: 50px;
      border-radius: 50%;
      background-color: #33abe5;
      color: white;
      margin: 0px 20px;
    }
    &__img {
      height: 150px;
      width: 200px;
    }
    &__infor {
      margin-left: 20px;
      display: flex;
      flex-direction: column;
      &__title {
        color: blue;
        font-size: 16px !important;
      }
      &__spelling {
        color: red;
        font-size: 16px !important;
      }
      &__bold {
        font-weight: bold;
      }
    }
   
  }
}
