.words600 {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #eeeeee;
  padding: 50px;
  &__introduce {
    background-color: white;
    border: 1px solid #cfcfcf;
    padding: 30px;
    width: 100%;
    &__titleIntroduce {
      color: #b10021;
      font-size: 24px;
      font-weight: 600;
      width: 100%;
      height: 50px;
      text-align: center;
      margin: 30px 0px;
    }
  }
  &__Content {
    width: 100%;
    padding: 20px 30px 30px 30px;
    &__item {
      border-radius: 5px;
      box-shadow: 0 0 5px #888;
      background-color: white;
      padding: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 20px;
      &__img {
        height: -webkit-fill-available;
        width: -webkit-fill-available;
      }
      &__title {
        color: #2a2a2a;

        height: 32px;
        background-color: white;
        text-align: center;
        line-height: 32px;
      }
    }
  }
}
