.HomePageApp {
  width: 100%;
  height: auto;
  &__header {
    height: 75px;
    width: 100%;
    position: fixed;
    z-index: 100;
    background: #33abe5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__left {
      margin-left: 50px;
      height: 100%;
      display: flex;
      align-items: center;
      &__img {
        cursor: pointer;
        height: -webkit-fill-available;
        width: auto;
      }
      &__title {
        margin-left: 20px;
        font-weight: 400;
        font-size: 25px;
        color: white;
      }
      &__topMenu {
        margin-left: 20px;
        display: flex;
        &__item {
          cursor: pointer;
          background-color: #00baff;
          width: fit-content;
          padding: 5px;
          text-underline-position: inherit;
          color: white;
          margin-right: 15px;
          border-radius: 15px;
          &:hover {
            background-color: #33abe5;
          }
        }
      }
    }
    &__right {
      margin-right: 50px;
      height: 100%;
      display: flex;
      align-items: center;

      &__divider {
        border: solid 1px white;
        width: 1px;
        height: 90%;
        margin-right: 35px;
      }

      &__text {
        cursor: pointer;
        font-size: 15px;
        margin-right: 20px;
        color: white;
      }
    }
  }
  &__block1 {
    margin-top: 77px;
    max-height: 700px;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    &__infor {
      width: calc(100% / 3);
      height: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      &__introText {
        max-width: 200px;
        margin-bottom: 15px;
        font-size: 30px;
        color: #000;
        text-align: center;
        font-family: roboto-light;
        line-height: 1.2;
      }
      &__img3_viewImg {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 203px;
        height: 229px;
        z-index: 10;
        padding: 15px;
        &__text {
          font-size: 20px;
        }
      }
    }
    &__img2 {
      width: calc(100% / 3);
    }
  }
  &__block2 {
    width: 100%;
    background-color: #ebebeb;
    padding-top: 100px;
    &__title {
      width: 40%;
      font-size: 30px;
      color: #000;
      text-align: center;
      font-family: roboto-light;
      line-height: 1.2;
      margin: auto;
      margin-bottom: 70px;
    }
    &__content {
      margin-bottom: 50px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      &__img3_viewImg {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 203px;
        height: 229px;
        z-index: 10;
        padding: 15px;
        &__img {
          font-size: 20px;
          height: fit-content;
          width: fit-content;
        }
      }
      &__title {
        margin-top: 30px;
        width: 203px;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        color: #000;
      }
    }
  }
}
